{% extends "base.html" %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-3">CX Benchmark</h1>
    <p class="lead">Join the rising tide.</p>
    <hr class="my-4">
    <p>Want to learn more? Sign up for updates.</p>
    <form>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="name" class="sr-only">Name</label>
                <input type="text" class="form-control form-control-lg" id="name" aria-describedby="name" placeholder="Name">
            </div>
            <div class="form-group col-md-5">
                <label for="email" class="sr-only">Email address</label>
                <input type="email" class="form-control form-control-lg" id="email" aria-describedby="email" placeholder="Email address">
            </div>
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </div>
        </div>
    </form>
  </div>
{% endblock content %}