{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container">

  <div class="row mb-3">
    <div class="col-sm-12">
      <h2>Dashboard</h2>
      <p class="lead">
        This is the dashboard, where user, company, and insight data can be viewed and edited.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-sm-12">
          <div class="card mb-3">
            <div class="card-header">
              User
            </div>
            <div class="card-body">
              <h4 class="card-title">{{ object.name }}</h4>
              <p class="my-3">
                Username: <strong>{{ object.username }}</strong><br />
                Owner: <strong>{{ object.is_owner }}</strong><br />
              </p>
              {% if object == request.user %}
                <a class="card-link" href="{% url 'users:update' %}" role="button">Settings</a>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card mb-3">
                <div class="card-header">
                  Company
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{ object.company.name }}</h4>
                  <p class="my-3">
                    Type: <strong>{{ object.company.get_type_display }}</strong><br />
                    Number of employees: <strong>{{ object.company.num_employees }}</strong><br />
                    Anonymous: <strong>{{ object.company.anonymous }}</strong><br />
                    {% if object.company.anonymous %}Anonymous display: <strong>{{company_anonymous_name}}</strong><br />{% endif %}
                  </p>
                  {% if object == request.user %}
                    <a class="card-link" href="{% url 'companies:update' %}" role="button">Settings</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card mb-3">
        <div class="card-header">
          Insights
        </div>
        <ul class="list-group list-group-flush">
          {% for insight in insights %}
            <li class="list-group-item d-flex justify-content-between">
              <span>{{ insight.get_type_display }}: <strong>{{ insight.value }}</strong></span>
              <small class="text-{% if insight.shared %}dark{% else %}muted{% endif %}">
                {% if insight.shared %}Shared{% else %}Not shared{% endif %}
              </small>
            </li>
          {% endfor %}
        </ul>
        <div class="card-body">
          {% if object == request.user %}
            <small class="text-muted">Edit your insights in your <a href="{% url 'companies:update' %}">company settings</a>. <code>// todo</code></small>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div> <!-- /.container -->
{% endblock content %}

