{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ company.name }}{% endblock %}

{% block content %}
  <h1>{{ company.name }}</h1>
  <form class="form-horizontal" method="post" action="{% url 'companies:update' %}">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </div>
  </form>
{% endblock %}
